body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    overflow: hidden;
    overflow-y:auto;
}

.nav-text > h2 {
    font-size: 48px;
    padding: 0px 5px 5px 100px;
    margin-bottom: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgray;
    margin: 1em 0;
    padding: 0;
  }

.choose-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-styling {
    font-size: 20px;
    background: rgba(0,0,0,0);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    padding: 10px 20px; /* top, right, bottom, left*/
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: background-color 0.15s;
  }

.option-styling:active {
    transform: translateY(4px); 
}

.permanent-active {
    background: rgba(12, 12, 12, 0.15);
    font-weight: 700;
}

.red {
    background-color: rgb(123, 48, 43);
    transition: background-color .3s ease-in ease-out;
}

.blue {
    background-color: rgb(57, 85, 137);
    transition: background-color .3s ease-in ease-out;
}

.dark-blue {
    background-color: rgb(30, 58, 113);
    transition: background-color .3s ease-in ease-out;
}

.dark-purple {
    background-color: rgb(100, 39, 124);
    transition: background-color .3s ease-in ease-out;
}

#container {
    background: rgba(12, 12, 12, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;  
    border: none;
    border-radius: 90px;
    padding: 80px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

#display {
    font-size: 150px;
    font-weight: bold;
    margin-bottom: 25px;
}

.btn-style {
    cursor: pointer;
    border: none;
    margin: 10px;
    border-radius: 4px;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    height: 70px;
    color: rgba(0, 0, 0, 0.486);
    font-weight: 500;
    width: 180px;
    background-color: white;
    transition: color 0.5s ease-in-out, transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-style:active {
    transform: translateY(9px) scale(0.98);
    box-shadow: rgb(235, 235, 235) 0px 2px 0px;
    font-weight: bold;
}